.main-content
  .main-content__top
    .main-content__top-genre ＞ジャンル名:
    .main-content__top-serch
      = link_to "新規投稿", new_question_path

  .main-content__list
    - @questions .each do |question|
      = link_to "/questions/#{question.id}", class:"main-content__list__question" do
        .main-content__list__question-title
          = question.title
        .main-content__list__question-text
          = question.text

