.question__form
 =form_for @question do |f|
  = f.select :category_id, @categorise.all.map { |c| [c.genre, c.id] }

  = f.text_field :title, class: "question-form__input-title", placeholder: "タイトルを入力"
  = f.text_area :text, class: "question-form__input-text", placeholder: "質問内容を入力"
  = f.file_field :image, class: "question-form__input-image"
  = f.file_field :video, class: "question-form__input-video"
  = f.submit "送信", class: "-form-action-btn"

