.question__form
  - if @question.errors.any?
    .question__form__error
      - @question.errors.full_messages.each do |message|
        %li= message
  .question-form__input
    =form_for @question do |f|
      = f.select :category_id, @categories.all.map { |c| [c.genre, c.id] }
      = f.text_field :title, class: "question__form__input__title", placeholder: "タイトルを入力"
      = f.text_area :text, class: "question__form__input__text", placeholder: "質問内容を入力"
      .question__form__input__image
        = f.label :image, class:"question__form__input__image__btn" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class:"question__form__input__image__form"
        = f.label :video, class:"question__form__input__image__btn" do
          = icon('fas', 'film', class: 'icon')
          = f.file_field :video, class:"question__form__input__image__form"
      = f.submit "送信", class: "form-action-btn"