.question__form
  =form_for @question do |f|
    = f.select :category_id, @categories.all.map { |c| [c.genre, c.id] }

    = f.text_field :title, class: "question-form__input-title", placeholder: "タイトルを入  力"
    = f.text_area :text, class: "question-form__input-text", placeholder: "質問内容を入力"
    = f.label :image, class:"image_input_btn" do
      = icon('fas', 'image', class: 'icon')
      = f.file_field :image, class: "image_form"
    = f.label :video, class:"image_input_btn" do
      = icon('fas', 'film', class: 'icon')
      = f.file_field :video, class: "image_form"
    = f.submit "送信", class: "form-action-btn"

