.contents
 .contents__question
  .contents__question__title
   = @question.title
  .contents__question__text
   = @question.text
  = image_tag @question.image.url, class: 'contents__question__image' if @question.image.present?
  = video_tag @question.video.url, class: 'contents__question__video' if @question.video.present?
 .more
  = link_to '質問を削除', "/questions/#{@question.id}", method: :delete

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
