- if Like.find_by(user_id: current_user.id, answer_id: answer.id)
  = link_to answer_like_path(answer_id: answer.id, id: answer.likes[0].id), method: :delete, remote: true do
    %i{class: "fas fa-heart"}
- else
  = link_to "/questions/#{@question.id}/answers/#{@question.answers.ids.first}/likes", method: :post, remote: true do
    %i{class: "far fa-heart"}
= answer.likes.length
