.wrapper
  = render "questions/head-bar"
  = render "questions/side-bar"

  .main-content
    .main-content__top
      .main-content__top-genre
        = @user.name
        さんの投稿
      .main-content__top-search
      = render "users/login"
    .main-content__list
      - @questions .each do |question|
        = link_to "/questions/#{question.id}", class:"main-content__list__question" do
          .main-content__list__question-title
            = question.title
          .main-content__list__question-text
            = question.text
      .main-content__list__page-nate
        = paginate(@questions)



