= form_for @answer do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@answer.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :text
    = f.text_area :text
  .field
    = f.label :video
    = f.text_field :video
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
