%p#notice= notice

%p
  %b Text:
  = @answer.text
%p
  %b Video:
  = @answer.video
%p
  %b Image:
  = @answer.image
%p
  %b Question:
  = @answer.question
%p
  %b User:
  = @answer.user

= link_to 'Edit', edit_answer_path(@answer)
\|
= link_to 'Back', answers_path
