= form_for @skiresort do |f|
  - if @skiresort.errors.any?
    #error_explanation
      %h2= "#{pluralize(@skiresort.errors.count, "error")} prohibited this skiresort from being saved:"
      %ul
        - @skiresort.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :ancestry
    = f.text_field :ancestry
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .actions
    = f.submit 'Save'
