%p#notice= notice

%p
  %b Name:
  = @skiresort.name
%p
  %b Ancestry:
  = @skiresort.ancestry
%p
  %b Address:
  = @skiresort.address
%p
  %b Latitude:
  = @skiresort.latitude
%p
  %b Longitude:
  = @skiresort.longitude

= link_to 'Edit', edit_skiresort_path(@skiresort)
\|
= link_to 'Back', skiresorts_path
