<h2>gmap</h2>
<%= @skiresort.name %>

<%= @skiresort.address %>
<div id="map">
</div>

<style>
#map{
  height: 400px;
  }
</style>
<script>
  function initMap() {
    var uluru = {lat: <%= @skiresort.latitude %>, lng: <%= @skiresort.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    enter: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
        }
    </script>
<script>
  let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意

  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.782853, lng: 139.721443},
    zoom: 11
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>