.wrapper
  = render "questions/head-bar"
  = render "questions/side-bar"
  .main-content
    .main-content__top
      .main-content__top-genre
        ジャンル:
        = @category.genre
      = render "questions/search"
      = render "users/login"
    .main-content__list
      = render partial: 'questions/question', collection: @questions
      .main-content__list__page-nate
        = paginate(@questions)



